		<% if line_item == @current_item %>
		<tr class="current_item">
		<% else %>
		<tr>
		<% end %>
		<% if line_item.quantity > 1 %>
			<td class="decrement-quantity">
				<%= button_to '&#9660;'.html_safe, decrement_line_item_path(line_item), class: 'button-decrement-quantity', title: 'Update Qty', remote: true %>
			</td>
		<% end %>
		<td style="width: 20px;"><%= line_item.quantity %> &times;</td>
		<td><%= truncate(line_item.product.title, length: 15) %></td>
		<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
		<td class="remove_item">
			<%= button_to "&times;".html_safe, line_item, class: 'button-remove-item', method: :delete, 
					data: {confirm: "Remove #{line_item.product.title} from cart?"}, remote: true %>
		</td>
	</tr>
	